*
!*.json
!*.lyns
!*.fish
!*.ts
!*.js
node_modules
!*.yaml
!*.yml
!.npmrc
!entrypoint
!.zshrc
!.gitignore
!.dockerignore
!ascii 
!ascii/**/*
!fish/**/*
!fish
!lyns/**/*
!lyns
!tools/**/*
!tools 
!zsh.core
!zsh.core/**/*
!zsh.methods
!zsh.methods/**/*
!zshrc
!zshrc/**/*